/* 
*
*   Webchick.net CSS - Angela Byron - 2004
*
*/

/* Page Areas */
#header {
	
}

#topnav {
	background-color: #6699CC;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

#contentarea {
	text-align: center;
}

#content {
	text-align: left;
	width: 70%;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#botnav {
	background-color: #6699CC;
	color: #FFFFFF;
	text-align: center;
	padding: 2px;
}

#copyright {
	text-align: center;
}

/* Classes for nav */
.last {
	border-right: 1px solid #FFFFFF;
}

.activelink {
	color: #666666;
	background-color: #FFFFFF;
	padding: 10px;
	border-left: 1px solid #FFFFFF;
}

.projnav {
	text-align: center;
}

/* Link formatting */
a:link {
	color: #6699CC;
	background-color: transparent;
}

a:visited {
	color: #999999;
	background-color: transparent;
}

#topnav a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border-left: 1px solid #FFFFFF;
}

#topnav a:hover {
	color: #6699CC;
	background-color: #FFFFFF;
}

#botnav a {
	color: #FFFFFF;
	text-decoration: none;
}

#botnav a:hover {
	text-decoration: underline;
}

/* Font size fix.. from http://www.alistapart.com/articles/sizematters/ */
body, body div, body p, body th, 
body td, body li, body dd {
    /* more specific to override imported rule */
    font-size:    x-small;      
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";   
    /* trick WinIE4/5 into thinking rule is over */
    voice-family: inherit;   
    /* recover from trick */
    font-size:    small
    /* intended value for better browsers */
}

html>body, html>body div, html>body p, 
html>body th, html>body td, 
html>body li, html>body dd {
    font-size:    small
    /* be nice to Opera */
}

/* Thumbnail formatting */
img.thumbnail {
	float: left;
	margin: 5px;
}

