/* 
*
*   Webchick.net CSS - Angela Byron - 2004
*
*/

/* Put fancy stuff in another file so NN4 doesn't crap out :P */
@import url("import.css");

/* Font Declaration */
body, td, div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* HTML Entities */
body {
	background-color: #FFFFFF;
	color: #000000;
	margin: 0px;
}

img {
	border: 0px;
}

img.picture {
	float: right;
	border: 1px solid #000000;
	margin-top: 15px;
}

td {
	padding-right: 15px;
}

hr {
	clear: both;
}
